.filters-container {


    position: sticky;
    width: 100%;
    top: 0;
    min-width: 50%;
    padding: 1em;
    background-color: white;


    .inline {
        display: flex;
        align-items: baseline;
        gap: 1em;
    }

}